<div class="section">

  <div id="moduleHeader">
    <h4 *ngIf='!editName' 
    (click)='editModuleName()'>{{ name }}</h4>
    <input #moduleNameInput
    type="text" *ngIf='editName' [(ngModel)]='name' 
    (blur)='saveModuleName()'
    (keyup.enter)='saveModuleName()'>
  </div>

  <div class="sectionTabs niceScroll">
    <ul>
      <li class="tab"
        *ngFor="let tab of data; let tabIndex = index"
        [class.active]="isSelected(tabIndex) && !newTabModal"
        [class.deleted]="tab.deleted"
        (click)="selectTab(tabIndex)">{{ tab.label }}
      </li>
      <li class="tab addTab" [class.active]="newTabModal" (click)="newTabModal=true;focusNewTabModal()">New</li>      
    </ul>
  </div>

  <div class="tabContents">
    <ng-container *ngFor="let tab of data; let tabIndex = index">
      <ng-template [ngIf]="isSelected(tabIndex) && !newTabModal">
        <div class="tabContent">
          <div class="list niceScroll">
            <ng-template [ngIf]="!restore">
              <span class="entry checkEntry"
                [ngClass]="{'hide':entry.finished}"
                (click)="checkEntry(tabIndex, entryIndex)"
                *ngFor="let entry of tab.elements; let entryIndex = index">

                <input type="checkbox" [checked]="entry.finished"><label>{{ entry.name }}</label>
              </span>
            </ng-template>
            <ng-template [ngIf]="restore">
              <span class="entry checkEntry"
              [ngClass]="{'hide':!entry.finished}"
              (click)="uncheckEntry(tabIndex, entryIndex)"
              *ngFor="let entry of tab.finishedElements; let entryIndex = index">
                <input type="checkbox" [checked]="entry.finished"><label>{{ entry.name }}</label>
              </span>
            </ng-template>
            

            <input type="text" #newEntry
              *ngIf="!restore"
              (keyup.enter)="addEntry(tabIndex, newEntry.value); newEntry.value=''"
              class="entry addEntry"
              placeholder="New"
              id=addEntry{{tabIndex}}
            >
          </div>
          <div class="tabBottom">
            <span (click)="deleteTab(tabIndex)" *ngIf="!restore">Delete list</span>
            <span (click)="restore= !restore">{{ restore ? "Return" : "Restore"}}</span>
          </div>
        </div>
        
      </ng-template>
    </ng-container>
    <div class="tabContent" *ngIf="newTabModal">
      <div class="list niceScroll">
        <input type="text" #newTab
          minlength="5"
          (keyup.enter)="addTab(newTab.value); newTabModal=false"
          class="entry addEntry"
          placeholder="New list"
          id="newTab"
        >
      </div>
    </div>
  </div>

</div>