:host {
  min-width: 380px;
  margin: 0px 5px;
  flex: 1;
  align-items: stretch;
}

@media all and (max-width: 800px) {
  :host {
    flex: 1;
  }
}

@media all and (max-width: 600px) {
  :host {
    margin: 0px 0px;
  }
}

.tabContents, .gridContents {
  height: 200px;
  overflow-y: auto;
}
.section, .sectionTabs,.tabContents {
  display: block;
  width: 100%;
}

.section {
  flex-grow: 3;
}
.section h4 {
  margin: 0px;
}
.sectionTabs {
  display: flex;
  overflow-y: auto;
  transform:rotateX(180deg);
}

.sectionTabs ul{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.tab {
  background: rgba(0,0,0,0.1);
  color: white;
  border: none;
  border-bottom: 2px solid white;
  border-bottom-color: rgba(0,0,0,0);
  text-decoration: none;
  padding: 5px 10px;
  list-style-type:none;
  margin-bottom: 0px;
  transform:rotateX(180deg) !important;  
}
.tab:hover, .tab.active {
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

.tabContents {
  overflow-y: hidden;
  background: rgba(0,0,0,0.3);
	box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
    
}
.tabContents .tabContent .list ul {
  padding-left: 15px;
  margin-top: 0px;
}
.tabContent {
  height: inherit;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tabContent .list {
  flex: 1;
  flex-direction: column;
  height: inherit;
  overflow-y: auto; 
  position: relative;
}
.tabContent .list h3 {
  margin-top: 0px;
}

.checkEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry:hover {
  background: rgba(0,0,0,0.3);
}
.entry:hover, .entry span label:hover {
  cursor: pointer;
}
.entry span input {
  vertical-align: middle;
}
.entry span label {
  vertical-align: middle;  
}
.entry .checkable {
  flex: 1;

}

.checkEntry span input {
  margin-right: 10px;
  margin-left: 10px;
  display: inline;
}

.addEntry {
  margin: 1px;
}

input[type="text"] {
  border: none;
  background-color: rgba(0,0,0,0.1);
  color: white;
  padding-left: 33px; 
  width: calc(100% - 2px);
}

.addTab {
  background-color: rgba(0,244,142,0.1);
}
.addTab:hover, .addTab.active {
  background-color: rgba(0,244,142,0.3);    
}

.tabBottom {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  padding-top: 5px;
}
.tabBottom span {
  transition: color 0.3s ease;
  margin-right: 5px;
}
.tabBottom span:hover {
  cursor: pointer;
  color: rgb(229,151,0);
}

.checkEntry {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  max-height: 100px;
}
.checkEntry.hide {
  max-height: 0px;
  opacity: 0;
}

.sectionTabs ul {
  perspective: 100px;
}
.tab {
  opacity: 1;
  transform: none;
  transition: all 0.3s cubic-bezier(.36,-0.64,.34,1.76), background 1ms;
}
.tab.deleted {
  opacity: 0;
  transform: rotateX(90deg) !important;
}


#moduleHeader input[type="text"] {
  font-family: "Segoe UI";
  padding: 0px;
  font-size: 20px;
  width: calc(100% - 2px);
}
#moduleHeader:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}