:host {
  min-width: 380px;
  margin: 0px 5px;
  flex: 1;
  align-items: stretch;
}

@media all and (max-width: 800px) {
  :host {
    flex: 1;
  }
}

@media all and (max-width: 600px) {
  :host {
    margin: 0px 0px;
  }
}

.section, .sectionTabs,.tabContents {
  display: block;
  width: 100%;
}

.section {
  flex-grow: 3;
}
.section h4 {
  margin: 0px;
}
.sectionTabs {
  display: flex;
  overflow-y: auto;
  transform:rotateX(180deg);
}

.sectionTabs ul{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}

.tab {
  background: rgba(0,0,0,0.1);
  color: white;
  border: none;
  border-bottom: 2px solid white;
  border-bottom-color: rgba(0,0,0,0);
  text-decoration: none;
  padding: 5px 10px;
  list-style-type:none;
  margin-bottom: 0px;
  transform:rotateX(180deg) !important;  
  white-space: nowrap;
}
.tab:hover, .tab.active {
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

.tabContents {
  overflow-y: hidden;
  background: rgba(0,0,0,0.3);
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
  height: 200px;
  resize: vertical;
}
.showAll {
  height: auto;
}

  .tabContents .tabContent .list ul {
  padding-left: 15px;
  margin-top: 0px;
}
.tabContent {
  height: inherit;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.tabContent .list {
  flex: 1;
  flex-direction: column;
  height: inherit;
  overflow-y: auto; 
  position: relative;
}
.tabContent .list h3 {
  margin-top: 0px;
}

.checkEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkEntry span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkEntry img {
  padding: 2px 0px;
}

.entry:hover {
  background: rgba(0,0,0,0.3);
}
.entry:hover, .entry span label:hover {
  cursor: pointer;
}
.entry span input {
  flex-shrink: 0;
  vertical-align: middle;
}
.entry span label {
  vertical-align: middle;  
}
.entry .checkable {
  flex: 1;
}

.editEntry {
  padding-bottom: 0px;
  padding-top: 0px;
}

.checkEntry span input {
  margin-right: 10px;
  margin-left: 10px;
  display: inline;
}

.addEntry {
  margin: 1px;
}

input[type="text"] {
  border: none;
  background-color: rgba(0,0,0,0.1);
  color: white;
  padding-left: 33px; 
  width: calc(100% - 2px);
}

.addTab {
  background-color: rgba(0,244,142,0.1);
}
.addTab:hover, .addTab.active {
  background-color: rgba(0,244,142,0.3);    
}

.tabBottom {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  padding-top: 5px;
}
.tabBottom span {
  transition: color 0.3s ease;
  margin-right: 5px;
}
.tabBottom span:hover {
  cursor: pointer;
  color: rgb(229,151,0);
}

.checkEntry {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  max-height: 100px;
}
.checkEntry.hide {
  max-height: 0px;
  opacity: 0;
}

.sectionTabs ul {
  perspective: 100px;
}
.tab {
  opacity: 1;
  transform: none;
  transition: all 0.3s cubic-bezier(.36,-0.64,.34,1.76), background 1ms;
}
.tab.deleted {
  opacity: 0;
  transform: rotateX(90deg) !important;
}

#moduleHeader {
  display: flex;
  justify-content: space-between;
}

#moduleHeader:hover #deleteModule, #moduleHeader:hover #showModuleOptions {
  opacity: 1;
}
#headerRightPart {
  display: flex;
}
#deleteModule, #showModuleOptions {
  opacity: 0;
  color: white;
  line-height: 30px;
  padding: 0px 5px;
}
#deleteModule {
  background: rgba(139, 0, 0, 0.3);
}
#showModuleOptions {
  background: rgba(0,0,0,0.1);
}
#deleteModule:hover, #showModuleOptions:hover {
  cursor: pointer;
  color: white;
  line-height: 30px;
  padding: 0px 5px;
}
#deleteModule:hover {
  background: rgba(139, 0, 0, 0.5);
}
#showModuleOptions:hover {
  background: rgba(0,0,0,0.3);
}

#moduleHeader input[type="text"] {
  font-family: "Segoe UI";
  padding: 0px;
  font-size: 20px;
  width: calc(100% - 2px);
}
#moduleHeader:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#moduleHeader h4:hover {
  cursor: pointer;
}

#deleteModal {
  background-color: rgba(0,0,0,0.3);
  padding: 10px;
  z-index: 10;
}
#deleteModal span, #deleteTabModal span {
  background: rgba(0,0,0,0.1);
  padding: 5px;
}
#deleteModal span:hover, #deleteTabModal span:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}

#optionTitle {
  margin-top: 0;
  padding: 5px;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#optionTitle h5 {
  margin: 0;
  font-size: 15px;
  line-height: 22.5px;
}
#optionTitle span {
  background: rgba(139, 0, 0, 0.3);
  padding: 5px;
}
#optionTitle span:hover {
  cursor: pointer;
  background: rgba(139, 0, 0, 0.5);
}
#optionsModal {
  background: rgba(0,0,0,0.3);
  padding-bottom: 10px;
}
#optionsModal h6 {
  margin: 0;
  margin-left: 10px;
}
#optionsModal ul {
  margin-top: 0px;
  padding: 0px 20px;
}
#optionsModal ul li {
  list-style-type: none; 
}
.workflowChain:hover {
  cursor: pointer;
}
.workflowElement span {
  padding: 2px;
  display: block;
  width: auto;
  background: rgba(0, 0, 0, 0.1);
}
.workflowElement ul li img {
  display: none;
}
.workflowElement ul li:hover img {
  display: inline-block !important;
}