<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<header>
  <span id="leftHalf">
    <img src="../assets/img/memory-card-22.png" alt="icon">
    
    <h5>WutzUGonaDo</h5>
    <!-- <button id='settingsButton' (click)="openSettings()"><img src="../assets/img/settings.png"></button> -->
    <button id='exitButton' (click)="exit()"><img src="../assets/img/power.png"></button>
    <button *ngIf='remoteConnected'><img src='../assets/img/cloud.png' title='Synchronization status'/></button>
    <button *ngIf='!remoteConnected'><img src='../assets/img/cloudoff.png' title='Synchronization status'/></button>
  </span>



  <span id="rightHalf">
    <span class="wrapper">
      <select name="workspace" id="workspaceSelect" [(ngModel)]='selectedWorkspace'>
        <option *ngFor='let workspace of workspaces'
        [ngValue]="workspace">{{ workspace.name }}</option>
        <option value="new">New workspace...</option>
      </select>
    </span>

    <button id='minimizeWindow' (click)="minimizeWindow()"><img src="../assets/img/minimize.png"></button>
    <button id='maximizeWindow' (click)="maximizeWindow()"><img src="../assets/img/maximize.png"></button>
    <button id='closeWindow' (click)="closeWindow()"><img src="../assets/img/close.png"></button>
  </span>
</header>

<div id="global">
  <app-workspace-loader
    [workspaceToDisplay]='selectedWorkspace'
    (workspaceAdded)='addWorkspaceToList($event)'
    (remoteStatusChange)='onRemoteStatusChange($event)'>
  </app-workspace-loader>
</div>