header {
    z-index: 10;
    -webkit-app-region: drag;
    padding: 5px;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    /* background: rgba(0,0,0,0.3); */
    /* background: rgb(29,90,130); */
    /* background: #1d5a82; */
    background: #29353C;
    height: 32px;
    
}
header > h5 {
    display: inline-block;
    margin: 0px;
    line-height: 22px;
    overflow: hidden;
}
header button {
    /*padding: 2px;*/
    -webkit-app-region: no-drag;   
    background: rgba(0,0,0,0.3);
    color: white;
    border: none;
    text-decoration: none;
    display: inline-block;
    /* padding-bottom: 5px; */
    padding: 2px;
    /* width: 22px; */
    height: 22px;
}

img {
    margin-bottom: 0px;
}
header button:hover {
    background: rgba(0,0,0,0.5);
}
#settingsButton {
    position: absolute;
    top: 5px;
    margin-left: 5px;
}
#exitButton {
    position: absolute;
    top: 5px;
    margin-left: 32px;
}
#closeWindow, #closeSettings {
    position: absolute;
    right: 5px;
    top: 5px;
    background: darkred;
    
}

#minimizeWindow {
    position: absolute;
    right: 55px;
    top: 5px;
}
#maximizeWindow {
    position: absolute;
    right: 30px;
    top: 5px;
}

#global {
    margin-top: 32px; 
    padding: 10px;
    padding-top: 0px; 
    /* overflow-y: scroll; */
    
}
