<div class="section" (drop)="onDrop($event)">
  
  <div id="moduleHeader">
    <h4 *ngIf='!editName'
    (click)='editModuleName()'>{{ name }}</h4>
    <input #moduleNameInput
    type="text" *ngIf='editName' [(ngModel)]='name' 
    (blur)='saveModuleName()'
    (keyup.enter)='saveModuleName()'>
    <span id='deleteModule' (click)='deleteModule()'>Delete</span>
  </div>

  <div id="memoList" class="niceScroll">
    <div id="createMemo">
      <input #newMemoName type="text"
        class="memo new"
        (keyup.enter)="createMemo(newMemoName.value, newMemoType.value); newMemoName.value=''"
        placeholder="Search or create"
      >
      <select #newMemoType name="Type" id="memoType">
        <option value="txt">Text</option>
        <option value="gdoc">Google doc</option>
      </select>
    </div>
    <ul>
      <li *ngFor="let memo of memos; let memoIndex = index"
        class="memo"
        [ngClass]="{'hide':memo.deleted}">
        <span (click)="openMemo(memo.fileName, memoIndex, false)">
          {{ memo.name }}
        </span>
        <img src='../../../assets/img/delete.png' 
        (click)="deleteMemo(memoIndex)"/>
      </li>
    </ul>

    <div id="dragModal" *ngIf="openDragModal">
      <h5>What do you want to do ? </h5>
      <h6>{{ droppedFile }}</h6>
      <span id="options">
        <div (click)='linkDraggedMemo()'>Link as memo</div>
        <div (click)='moveDraggedMemo()'>Move memo into app</div>
        <div (click)='openDragModal=false'>Cancel</div>
      </span>
    </div>
  </div>

</div> 