<div class="section">
  
    <h4>Memos</h4>
    <div id="memoList" class="niceScroll">
      <div id="createMemo">
        <input #newMemoName type="text" class="memo new" (keyup.enter)="createMemo(newMemoName.value, newMemoType.value)" placeholder="New">
        <select #newMemoType name="Type" id="memoType">
          <option value="txt">Text</option>
          <option value="gdoc">Google doc</option>
        </select>
      </div>
      <ul>
        <li *ngFor="let memo of memos; let memoIndex = index"
          class="memo"
          [ngClass]="{'hide':memo.deleted}">
          <span (click)="openMemo(memo.fileName, memoIndex, false)">
            {{ memo.name }}
          </span>
          <img src='../../../assets/img/delete.png' 
          (click)="deleteMemo(memoIndex)"/>
        </li>
      </ul>
    </div>

</div> 