<app-module-loader *ngIf='this.workspaceToDisplay !== "new"'
[modules]="wutzModules" [appStorage]="appStorage"></app-module-loader>

<div *ngIf='this.workspaceToDisplay === "new"'>
	<h4>New workspace</h4>

	<div id="addWorkspace">
		<div id="addWorkspaceForm">
			<h5>Name</h5>
			<input type="text" #newWorkspaceName (keyup.enter)='addWorkspace()'>

			<h5>Modules to add</h5>
			<div *ngFor='let moduleToAdd of newWorkspace.wutzModules'>
				<input type="text" [(ngModel)]='moduleToAdd.name'>
				<select #componentType>
					<option *ngFor="let componentType of getAvailableComponentsList()"
					[value]="componentType"
					>
					{{ componentType.substring( 0, componentType.indexOf("Component")) }}
					</option>
				</select>
			</div>
			<h5 id='plusOneModule' (click)='addModuleToFutureWorkspace()'>+</h5>
			<input type="button" value="Create">
		</div>	
	</div>

</div>
