<app-module-loader *ngIf='this.workspaceToDisplay !== "new"'
	[modules]="wutzModules"
	[appStorage]="appStorage"
	(moduleChanged)='onModuleChange($event)'>
</app-module-loader>

<h4 id="deleteWorkspace" (click)='deleteWorkspaceModal = !deleteWorkspaceModal'
	*ngIf='this.workspaceToDisplay !== "new"'>Delete workspace</h4>
<div id="deleteWorkspaceModal" *ngIf='deleteWorkspaceModal'>
	<h4>Are you sure ?</h4>
	<h5>Delete {{ workspaceToDisplay.name }}</h5>
	<span (click)='deleteWorkspaceEmit();deleteWorkspaceModal=false'>YES</span>
	<span (click)='deleteWorkspaceModal = false'>NO</span>
</div>
<div *ngIf='this.workspaceToDisplay === "new"'>
	<h4>Add workspace</h4>

	<div id="addWorkspace">
		<div id="addWorkspaceForm">
			<h5>Create</h5>

			<h6>Name</h6>
			<input type="text" #newWorkspaceName (keyup.enter)='createWorkspace()'>
			
			<h6>Data location</h6>
			<input type="text" #newWorkspaceStorage [value]="configService.getDefaultStorage()">
			
			<h6>Modules to add</h6>
			<div *ngFor='let moduleToAdd of newWorkspace.wutzModules'>
				<input type="text" [(ngModel)]='moduleToAdd.name'>
				<select #componentType>
					<option *ngFor="let componentType of getAvailableComponentsList()"
					[value]="componentType"
					>
					{{ componentType.substring( 0, componentType.indexOf("Component")) }}
					</option>
				</select>
			</div>
			<h5 id='plusOneModule' (click)='addModuleToFutureWorkspace()'>+</h5>
			<input type="button" value="Create" (click)='createWorkspace()'>
		</div>

		<div id="importWorkspaceForm" *ngIf='remoteConnect'>
			<h5>Import remote</h5>
			<h6>Host: <i  style="color:slategrey">{{ remoteHost }}</i></h6>
			<select #remoteWorkspace>
				<option *ngFor='let workspace of remoteWorkspaces'>
					{{ workspace }}
				</option>
			</select>
			<span (click)='importRemoteWorkspaceEmit(remoteWorkspace.value)'>Import</span>
		</div>
	</div>

</div>
