:host {
  min-width: 380px;
  margin: 0px 5px;
  flex: 1;
  align-items: stretch;
}

@media all and (max-width: 800px) {
  :host {
    flex: 1;
  }
}

@media all and (max-width: 600px) {
  :host {
    margin: 0px 0px;
  }
}

.section {
  display: block;
  width: 100%;
  flex-grow: 3;
}
.section h4 {
  margin: 0px;
}

#moduleHeader {
  display: flex;
  justify-content: space-between;
}

#moduleHeader:hover #deleteModule, #moduleHeader:hover #showModuleOptions {
  opacity: 1;
}
#headerRightPart {
  display: flex;
}
#deleteModule, #showModuleOptions {
  opacity: 0;
  color: white;
  line-height: 30px;
  padding: 0px 5px;
}
#deleteModule {
  background: rgba(139, 0, 0, 0.3);
}
#showModuleOptions {
  background: rgba(0,0,0,0.1);
}
#deleteModule:hover, #showModuleOptions:hover {
  cursor: pointer;
  color: white;
  line-height: 30px;
  padding: 0px 5px;
}
#deleteModule:hover {
  background: rgba(139, 0, 0, 0.5);
}
#showModuleOptions:hover {
  background: rgba(0,0,0,0.3);
}

#moduleHeader input[type="text"] {
  font-family: "Segoe UI";
  padding: 0px;
  font-size: 20px;
  width: calc(100% - 2px);
}
#moduleHeader:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#moduleHeader h4:hover {
  cursor: pointer;
}

#deleteModal {
  background-color: rgba(0,0,0,0.3);
  padding: 10px;
  z-index: 10;
}
#deleteModal span, #deleteTabModal span {
  background: rgba(0,0,0,0.1);
  padding: 5px;
}
#deleteModal span:hover, #deleteTabModal span:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}

#optionTitle {
  margin-top: 0;
  padding: 5px;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#optionTitle h5 {
  margin: 0;
  font-size: 15px;
  line-height: 22.5px;
}
#optionTitle span {
  background: rgba(139, 0, 0, 0.3);
  padding: 5px;
}
#optionTitle span:hover {
  cursor: pointer;
  background: rgba(139, 0, 0, 0.5);
}
#optionsModal {
  background: rgba(0,0,0,0.3);
  padding-bottom: 10px;
}
#optionsModal h6 {
  margin: 0;
  margin-left: 10px;
}
#optionsModal ul {
  margin-top: 0px;
  padding: 0px 20px;
}
#optionsModal ul li {
  list-style-type: none; 
}

input[type="text"] {
  border: none;
  background-color: rgba(0,0,0,0.1);
  color: white;
  padding-left: 33px; 
  width: calc(100% - 2px);
}


#content {
	background: rgba(0, 0, 0, 0.3);
	padding: 10px;
}
#content textarea {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: white;
	box-sizing: border-box;
}

#saveToFile:hover {
  cursor: pointer;
}